<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form action="#" method="POST" th:action="@{/admin/user-update}" th:object="${user}">
    <label for="id">ID</label>
    <input id="id" placeholder="ID" readonly type="number" th:field="*{id}">
    <br/>
    <label for="name">Name</label>
    <input id="name" placeholder="Name" th:field="*{name}">
    <br/>
    <label for="surname">Surname</label>
    <input id="surname" placeholder="Surname" th:field="*{surname}">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>